body {
    margin: 0;

    background-color: black;
    font-family: 'Space Mono', monospace;
}

.current-speed {
    position: absolute;
    top: 40px;
    left: 80px;

    color: white;

    font-size: 22px;
}

.current-speed.moon {
    top: 100px;
}
